/* Sidebar */
.notifications-sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* hidden by default */
  width: 350px;
  max-width: 90%;
  height: 100%;
  background: #090d15;
  color: #fff;
  box-shadow: -4px 0 12px rgba(0,0,0,0.3);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.notifications-sidebar.open {
  right: 0;
}

/* Overlay for small screens */
.overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  opacity:0;
  visibility:hidden;
  transition: opacity 0.3s;
  z-index:999;
}

.overlay.active {
  opacity:1;
  visibility:visible;
}

/* Sidebar header */
.sidebar-header {
  padding: 1rem;
  background: rgb(5 17 32);
  border-bottom: 1px solid #3a3c52;
}

.close-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Notification list */
.notifications-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Notification card */
.notification-card {
  background: rgb(5 17 32);
  padding: 0.8rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.notification-card.unread {
  border-left: 4px solid #0479b4; /* highlight unread */
}



.notif-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

.notif-message {
  font-size: 0.88rem;
  margin: 0.2rem 0;
  color: #d1d1e0;
}

.notif-help {
  font-size: 0.75rem;
  color: #8888a0;
}

/* Empty state */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa;
  padding: 2rem 1rem;
}

.empty-state img {
  width: 80px;
  margin-bottom: 1rem;
}

/* Toggle button */
.sidebar-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f39c12;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  z-index: 1001;
}

.sidebar-toggle-btn .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e74c3c;
  width: 18px;
  height: 18px;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.btn-read{
  font-size: 12px;
}
