<app-header2></app-header2>
<app-spinner></app-spinner>


<div class="page">
    <section class="app-container container-fluid ">

    <div class="deposit-page">


      <!-- CURRENCY SWITCH -->
      <div class="currency-switch">
        <button
          *ngIf="!storeData.store['wallet']?.payment_method||storeData.store['wallet']?.payment_method&&walletService.cryptoCoins.includes(storeData.store['wallet']?.payment_method)"
          [class.active]="activeCurrency === 'crypto'"
          (click)="switchCurrency('crypto')"

        >
          Crypto
        </button>

        <button
        *ngIf="!storeData.store['wallet']?.payment_method||storeData.store['wallet']?.payment_method&&!walletService.cryptoCoins.includes(storeData.store['wallet']?.payment_method)"
          [class.active]="activeCurrency === 'bank'"
          (click)="switchCurrency('bank')"
        >
          Bank
        </button>
      </div>

      <div class="tab-1" *ngIf="activeCurrency === 'crypto'">

        <div class="space-between mt-7 mb-1">
          <div class="network-select">
            <span>Network</span>
            <p></p>
          </div>

          <div class="custom-select-wrapper " >
              <div class="custom-select-trigger" (click)="walletService.toggleDropdown()">
                <img *ngIf="walletService.SelectedCryptoImg" [src]="walletService.SelectedCryptoImg" alt="" class="crypto-img">
                {{ walletService.SelectedCrypto || 'Select' }}
                <span class="arrow">&#9662;</span>
              </div>

              <div class="custom-options" [class.show]="walletService.dropdownOpen">
                <div
                  class="custom-option"
                  *ngFor="let crypto of walletService.cryptos"
                  (click)="walletService.selectCrypto(crypto,walletService.formView['withdraw'])"
                >
                  <img *ngIf="crypto.img" [src]="crypto.img" alt="" class="crypto-img">
                  {{ crypto.label }}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="tab-2" *ngIf="activeCurrency === 'bank'">
          <!-- Local bank UI goes here -->
          <div class="space-between mt-7 mb-1">
            <div class="network-select">
              <span>Method</span>
              <p></p>
            </div>

            <div  class="custom-select-wrapper" >
              <div class="custom-select-trigger" (click)="walletService.toggleDropdown()">
                <img *ngIf="walletService.init_local" src="https://flagsapi.com/{{walletService.init_payment_method| slice:0:2}}/flat/64.png" alt="" class="crypto-img">

                {{ walletService.SelectedBank || 'Select' }}
                <span class="arrow">&#9662;</span>
              </div>

                <div class="custom-options" [class.show]="walletService.dropdownOpen">
                <div
                  class="custom-option"
                  *ngFor="let c of walletService.initCurrencies.slice(2)"
                  (click)="walletService.selectLocal(c,walletService.formView['withdraw'])"
                >
                  <img  src="https://flagsapi.com/{{c.code| slice:0:2}}/flat/64.png" alt="" class="crypto-img">
                  {{ c.name }}
                </div>
              </div>
            </div>
            </div>

        </div>

        <!-- <section> -->
          <div *ngIf="!storeData.store['withdraw']?.length;else pendingWithdraw" class="card">
            <form [formGroup]="walletService.methodView[walletService.activeForm].form" (ngSubmit)="walletService.handleSubmit(walletService.methodView[walletService.activeForm].form,'create_withdraw')">

          <!-- <div *ngIf="walletService.selectedMode === 'BANK';else selectCryptoForm" class="mb-3">
              <label>Select currency</label>
              <select
                class=""
                (change)="walletService.onCurrencySelect($event)"
                formControlName='payment_method'
                >
                <option disabled="disabled" selected="selected" value="">Select</option>
                <option *ngFor="let c of walletService.initCurrencies.slice(2)" [value]="c.code">
                  {{ c.name }} ({{ c.symbol }})
                </option>
              </select>
            </div> -->

            <h4 *ngIf="!storeData.store['wallet']?.saved_add" class="text-center mb-10">ADD NEW </h4>

            <!-- <div *ngIf="walletService.selectedMode==='BANK'&& walletService.selectedCurrency||['USD','TRON'].includes(walletService.selectedMode)" class="withdraw-info"> -->

              <div *ngIf="storeData.store['wallet']?.saved_add"  class="input-container">
                <label>Amount</label>
                <input
                  type="number"
                  [(ngModel)]="amount"
                  placeholder="Min {{walletService.selectedCurrency?.symbol}}{{walletService.minimumPayment}}"
                  [min]="walletService.minimumPayment"
                  class="mb-3"
                  formControlName="amount"
                />
              </div>

              <div *ngIf="storeData.store['wallet']?.saved_add; else NosavedAdd" class="mb-3">
                <!-- <label>Select saved withdrawal</label> -->

                <select
                  class=""
                  formControlName="saved_method_id"
                  (change)="walletService.onSavedMethodSelect($event)"
                >
                  <option value="">Choose account</option>
                  <option
                    *ngFor="let m of storeData.store['wallet'].saved_add;let i = index"
                    [value]="i"
                  >
                    {{  m.bank.text }} | {{m.account_holder}} || {{m.account_number}}
                  </option>
                </select>
              </div>

              <ng-template #NosavedAdd>


                <!-- <div *ngIf="walletService.paymentMode(storeData.store['savedMethod']||walletService.selectedMode)==='crypto';else localBankDetailsBlock" class="crypto"> -->
                <div *ngIf="walletService.activeForm==='Crypto';else localBankDetailsBlock" class="crypto">
                  <div class="input-container">
                    <label>Address Number</label>

                    <input
                      type="text"
                      placeholder=" Wallet Address"
                      class=" mb-3"
                      formControlName="account_number"
                    />
                  </div>
                </div>

                <ng-template #localBankDetailsBlock>
                  <div class="input-container">
                    <label>Bank</label>
                    <input
                      type="text"
                      placeholder=" Bank name"
                      class=" mb-3"
                      formControlName="bank"
                    />
                  </div>

                  <div class="input-container">
                    <label>Bank holder name</label>
                    <input
                      type="text"
                      placeholder=" Account Name"
                      class=" mb-3"
                      formControlName="account_holder"
                    />
                  </div>
                  <div class="input-container">
                    <label>Bank number</label>
                    <input
                      type="text"
                      placeholder=" Account number"
                      class="mb-3"
                      formControlName="account_number"
                    />
                  </div>

                </ng-template>

              </ng-template>

          <button
            type="submit"
            [disabled]="!walletService.methodView[walletService.activeForm].form.valid"
            >
            OK <i class="ti ti-arrow-right"></i>
          </button>

            </form>
          </div>
          <ng-template #pendingWithdraw>

              <div class="x-flex mb-5">
                <h5>Uncompleted withdrawal</h5>
              </div>

              <!-- <ul *ngIf="storeData.store['withdraw'][0] as tra" class="item-flex-list">
                <li><span class="text-first">Amount:</span> <span>{{ tra.amount|currencyConverter:true:storeData.store['withdraw'][0].method }}</span></li>
                <li><span class="text-first">Created at:</span><span>{{tra.timestamp|timeFormat:"fullDate"}}</span></li>
                <li><span class="text-first">Expected receive:</span> <span class="text-deem"> {{tra.timestamp|countdown:storeData.store['wallet']?.settings.max_await_time.withdraw|async}} </span></li>
              </ul> -->

              <div *ngIf="storeData.store['withdraw'][0] as tra" class="item-card">
                <span class="value">Expected payment countdown :{{tra.timestamp|countdown:3|async}}</span>

                <div class="item-row">
                  <span class="label">Initiated at</span>
                  <span class="value">{{tra.timestamp|timeFormat:"fullDate"}}</span>
                </div>
                <!-- <div class="item-row">
                  <span class="label">Payment time frame</span>
                  <span class="value">{{tra.timestamp|countdown:3|async}}</span>
                </div> -->
                <div class="item-row">
                  <span class="label">Amount</span>
                  <span class="value">{{ tra.amount|currencyConverter:true:storeData.store['withdraw'][0].method }}</span>
                </div>
              </div>

              <small (click)="walletService.cancelPayment('withdraw')" class="text-danger"> <i class="ti ti-trash fs-five"></i> terminate</small>


            </ng-template>
    </div>
    </section>
    </div>
