.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 96px;
  padding-bottom: env(safe-area-inset-bottom);

  background: linear-gradient(180deg, #0d182a, #0d1729);
  /* border-top: 1px solid rgba(255,255,255,.08); */

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 100;
}

/* ITEM */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 6px;
  min-width: 64px;

  color: #9ca3af;
  font-size: 11px;
  cursor: pointer;

  transition: all .25s ease;
}

/* ICON */
.nav-item i {
  font-size: 22px;

  width: 46px;
  height: 46px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .25s ease;
}

/* LABEL */
.nav-item span {
  font-size: 11px;
  letter-spacing: .2px;
}

/* ACTIVE */
.nav-item.active i {
  color: #0479b4;
  background: rgba(4,121,180,.14);
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(4,121,180,.35);
}

.nav-item.active span {
  color: #0479b4;
  font-weight: 600;
}

/* TAP FEEDBACK */
.nav-item:active i {
  transform: scale(.95);
}
