<app-spinner></app-spinner>

<div class="page">


  <div class="">
    <div class="logo-wrap">
      <img src="/assets/images/logo.png" alt="Logo" />
    </div>
    <div class="card">


      <h1>SMG Betting ⚽</h1>
      <p class="subtitle">Join us to start winning!</p>


      <form [formGroup]="authService.formView.register" (ngSubmit)="authService.onSubmit(authService.formView.register,'register')">
        <div class="field">
          <i class="fa fa-user"></i>
          <input type="text" formControlName="username" placeholder="Username"  formControlName="username"/>
        </div>


        <div class="field">
          <i class="fa fa-envelope"></i>
          <input formControlName="email" type="email" formControlName="email" placeholder="Email address" />
        </div>

        <div *ngIf="authService.RefCode" class="field">
          <i class="fa fa-users"></i>
          <input formControlName="RefCode" type="email" formControlName="email" placeholder="Invited by {{authService.invitedBy}}" />
        </div>


        <div class="field password-field">
            <i class="fa fa-lock"></i>

        <input
          [type]="authService.showPassword ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password"
        />

        <button
          type="button"
          class="eye-toggle"
          (click)="authService.togglePassword()"
          aria-label="Toggle password visibility"
        >
          <i class="fa" [ngClass]="authService.showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
    </div>



        <!-- <div class="field">
          <i class="fa fa-futbol"></i>
          <input type="text" formControlName="league" placeholder="Favourite League (optional)" />
        </div> -->


        <button type="submit" [disabled]="authService.formView.register.invalid">Create Account</button>
      </form>

      <div class="auth-footer">
        <!-- <p>
          New here?
          <a class="primary-link" routerLink="/register">Create account</a>
        </p> -->

        <p class="muted">
          Already playing?
          <a class="secondary-link" (click)="authService.router.navigate(['/login'])">Login</a>
        </p>
      </div>


      <!-- <p class="footer">Already playing? <a href="#">Login</a></p> -->
    </div>
  </div>

</div>
