<h2 *ngIf="data.title"
    [class]="data.title.toLowerCase()"
    mat-dialog-title
    class="dialog-title">
  {{ data.title || 'Confirm!' }}
</h2>

<mat-dialog-content class="dialog-content">
  <p class="dialog-message">
    {{ data.message || 'Are you sure you want to continue with this request?' }}
  </p>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button class="btn-cancel" (click)="cancel()">Cancel</button>
  <button type="button" mat-flat-button color="primary" class="btn-confirm" (click)="confirm()">Yes</button>
</mat-dialog-actions>
