.match-box {
  background: #1a1b1f;
  /* rgba(255,255,255,0.07); */
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
  color: #fff;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0.8;
}


.league {
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */
  font-size: 16px;
  font-weight: 600;
  opacity: 0.9;
  width: 50%
}


.center-line {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.team {
  display: flex;
  align-items: center;
  gap: 8px;
}


.team.left img,
.team.right img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background: #000;
}


.time {
  font-size: 14px;
  opacity: 0.5;
  min-width: 80px;
}


.right span,
.left span {
  font-size: 14px;
  font-weight: 600;
}

span.name{
  width: 80%;
  border-bottom: 1px solid #272727;
  /* border-top: 1px solid #272727; */
  /* border: 1px solid #272727; */

  padding: 7px;
}

.team.right{
  /* float: right; */
  text-align: right;
}

.vs {
  font-weight: 700;
  font-size: 18px;
  opacity: 0.6;
  text-align: center;
}
