.bet-header {
  padding: 14px 16px 18px;
  border-radius: 16px;

  /* background:
    linear-gradient(180deg, rgba(8,15,28,.95), rgba(3,8,18,.95)),
    url('/assets/img/stadium-dark.webp') center / cover;

  box-shadow:
    0 20px 50px rgba(0,0,0,.55),
    inset 0 1px 0 rgba(255,255,255,.04); */

  color: #e5e7eb;
}

/* MATCH META (TIME + LEAGUE) */
.bet-start {
  text-align: left;
  margin-bottom: 14px;
}

.bet-start span {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: .4px;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
}

.bet-team {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 12px 0;
}

.bet-team .team-1,
.bet-team .team-2 {
  width: 42%;
  text-align: left;
}

.bet-team span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .6px;
  text-transform: uppercase;
}


.bet-team::before {
  content: 'VS';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;

  background: linear-gradient(
    180deg,
    rgba(15,23,42,.9),
    rgba(2,6,23,.95)
  );

  color: rgba(255,255,255,.9);

  box-shadow:
    0 4px 8px rgba(0,0,0,.45),
    inset 0 1px 0 rgba(255,255,255,.08);
}

.team-1 span {
  text-shadow: 0 0 16px rgba(34,197,94,.35);
}

.team-2 span {
  text-shadow: 0 0 16px rgba(239,68,68,.35);
  text-align: right;;
}

@media (max-width: 380px) {
  .bet-team span {
    font-size: 16px;
  }

  .bet-team::before {
    width: 36px;
    height: 36px;
    font-size: 11px;
  }
}

/* correctscore table */

.m-table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.anti-label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 0 4px;
  background: #0b1523;
  padding: 9px;
  border-radius: 7px;
}

.m-table-row {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.m-table-cell {
  flex: 1; /* Each column takes equal space */
  /* background-color: #f8f9fa; */
  /* border: 1px solid #e0e0e0; */
  border-radius: 6px;
  /* padding: 10px 6px; */
  text-align: center;
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s;
}

.m-table-cell:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.m-table-cell.active {
  background-color: #0479b4;
  border-color: #0f5132;
  color: #fff;
}

.content-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.score {
  display: block;
  font-weight: 1100;
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: #999;
}

.odds {
  display: block;
  font-size: 1.4rem;
  color: #0479b4;
  font-weight: 900;
  background: #1a263a;
    padding: 7px;
    border-radius: 7px;
}
